allow netmgrd init:unix_stream_socket { connectto read write };
allow netmgrd property_socket:sock_file rw_file_perms;
allow netmgrd netmgrd_prop:property_service { set };
